import React, { FC } from 'react';
import styles from './index.module.scss';

interface Props {

}

export const {{pascalCase name}}: FC<Props> = (props) => {
  return (
    <div className={ styles.{{pascalCase name}} }>
      {{pascalCase name}}
    </div>
  );
};