// @import '../../styles/variables.scss';

.ActionDetails {
    display: flex;
    align-items: center;
    @media screen and (max-width: 520px) {
        align-items: flex-start;
    }

    .container {
        max-width: 400px;
        padding: 4px;
        .title {
            font-weight: 800;
        }
        .desc {
            font-weight: 300;
        }
    }
}